<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<h2 style="background-color: rgb(19, 4, 58); color: rgb(253, 253, 253); text-align: center;" >About Us</h2>


<body>
<div class="row">
    <div class="column">
    <div class="container">
    <div class="card" style="height: 300px; width: 250px; ">
        <img src="assets\vibhor.jpeg" alt="Avatar" style="width:250px; height: 200px; padding: 15px; padding-bottom: 0%;">
        <br>
        <h4 ><b>Vibhor Rastogi</b></h4>
        <small><b>CSE-'C'</b></small><br>
        <small ><b>Roll No 1602910185</b></small><br>
        <small ><b>Kiet Group of Institutions</b></small>
      </div>
    </div>
    </div>
    <div class="column">
    <div class="container">
        <div class="card" style="height: 300px; width: 250px; ">
            <img src="assets\vishu.jpeg" alt="Avatar" style="width:250px; height: 200px; padding: 15px; padding-bottom: 0%;">
            <br>
            <h4 ><b>Vishu Sangwan</b></h4>
            <small><b>CSE-'C'</b></small><br>
            <small ><b>Roll No 1602910185</b></small><br>
            <small ><b>Kiet Group of Institutions</b></small>
          </div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <div class="card" style="height: 300px; width: 250px; ">
                <img src="assets\sanchit.jpeg" alt="Avatar" style="width:250px; height: 200px; padding: 15px; padding-bottom: 0%;">
                <br>
                <h4 ><b>Sanchit Jain</b></h4>
                <small><b>CSE-'C'</b></small><br>
                <small ><b>Roll No 1602910185</b></small><br>
                <small ><b>Kiet Group of Institutions</b></small>
              </div>
            </div>
        </div>
</div>
 </body>

