<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<h3 style="background-color:rgba(231, 184, 206, 0.212); color: rgb(0, 0, 0); text-align: center; " >About Us</h3>


<body style="padding-top: 20px;">
    <div class="container-fluid" >
<div class="row">
    <div class="col" style="padding-left: 30px;">
    <div class="card" style="height: 350px; width: 275px; ">
        <img src="assets\vibhor.jpeg" alt="Avatar" style="width:270px; height: 225px; padding: 15px; padding-bottom: 0%; ">
        <br>
        <h5 ><b>Vibhor Rastogi</b></h5>
        <small><b>CSE-'C'</b></small>
        <small ><b>Roll No 1602910185</b></small>
        <small ><b>Kiet Group of Institutions</b></small>
      </div>
    </div>
    <div class="col">
   
        <div class="card" style="height: 350px; width: 275px; ">
            <img src="assets\vishu.jpeg" alt="Avatar" style="width:270px; height: 225px; padding: 15px; padding-bottom: 0%;">
            <br>
            <h5 ><b>Vishu Sangwan</b></h5>
            <small><b>CSE-'C'</b></small>
            <small ><b>Roll No 1602910185</b></small>
            <small ><b>Kiet Group of Institutions</b></small>
          </div>
       
    </div>
    <div class="col">
       
            <div class="card" style="height: 350px; width: 275px; ">
                <img src="assets\sanchit.jpeg" alt="Avatar" style="width:270px; height: 225px; padding: 15px; padding-bottom: 0%;">
                <br>
                <h5 ><b>Sanchit Jain</b></h5>
                <small><b>CSE-'C'</b></small>
                <small ><b>Roll No 1602910185</b></small>
                <small ><b>Kiet Group of Institutions</b></small>
              </div>
       
        </div>
</div>
</div>
 </body>

