
<body>

<div class="header">
 
  <img style="margin-left: 5px;" src="assets\logo2.png"   height="60px" width="100px" >
  <div style="color:rgb(0, 0, 0); font-size:12px; font-family: 'Segoe UI'; display:inline; position: absolute; top:40px; left: 95px;" ><b>Breast Cancer Support</b></div>
  <div style="color:rgb(0, 0, 0); font-size:10px; font-family: 'Segoe Print'; float:right;  margin-top: 25px; margin-right:10px;" ><b>You can fight <br/> We can support</b></div>

  <nav>
  <ul>
      
      <li><a routerLink="/aboutUs" routerLinkActive="active">About Us</a></li>
      <li><a routerLink="/aboutProject" routerLinkActive="active">About Project</a></li>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
  </ul>
</nav>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<hr>
<div class="container">
  <img style="margin-left: 5px;" src="assets\logokiet.png"   height="40px" width="120px" >
  <a href="https://www.instagram.com/vishu_sangwan_23/">
    <div class="hov" style="color:rgb(0, 0, 0); font-family: 'Segoe Print'; float:right;  " ><b>Vishu Sangwan</b></div>
    <img style="margin-right: 5px; float:right;" src="assets\insta.png"   height="28px" width="28px" >
  </a>
  

  <a href="linkedin.com/in/sanchit-jain-009412180">
    <div class="hov" style="color:rgb(0, 0, 0);  font-family: 'Segoe Print'; float:right; " ><b>Sanchit Jain</b></div>
    <img style="margin-right: 5px; float:right;" src="assets\linkedin.png"   height="30px" width="30px" >
  </a>
  
  <a href="https://www.linkedin.com/in/vibhor-rastogi/">
  <div class="hov" style="color:rgb(0, 0, 0);  font-family: 'Segoe Print'; float:right; " ><b>Vibhor Rastogi</b></div>
  <img style="margin-right: 5px; float:right;" src="assets\linkedin.png"   height="30px" width="30px" >
</a>


</div>

</body>