<body>
<div class="header">
 
  <img style="margin-left: 5px;" src="assets\logo.png"   height="60px" width="60px" >
  <div style="color:rgb(0, 0, 0); font-size:9px; font-family: 'Segoe UI'; display:inline; position: absolute; top:40px; left: 60px;" ><b>Breast Cancer Support</b></div>
  <div style="color:rgb(0, 0, 0); font-size:10px; font-family: 'Segoe Print'; float:right;  margin-top: 25px; margin-right:10px;" ><b>You can fight <br/> We can support</b></div>

  <nav>
  <ul>
      
      <li><a routerLink="/aboutUs" routerLinkActive="active">About Us</a></li>
      <li><a routerLink="/aboutProject" routerLinkActive="active">About Project</a></li>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
  </ul>
</nav>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <h2>footer</h2>
</div>

</body>