<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body >
    <h2>About Project</h2>
<p>With the advance of big data analytics equipment, more devotion has been paid to disease expectation
    from the perception of big data inquiry, various experiment have been conducted by choosing the features
    mechanically from a large number of data to improve the truth of menace classiﬁcation rather than
    the formerly selected physiognomies. However, those prevailing work mostly measured structured data.
    Number of researches have been conducted to select the characteristics of a disease prediction from a
    large volume of data. Most of the existing work is based on structured data. For the unstructured data
    one can use a convolutional neural network. Convolutional neural networks are made up of a neuron,
    each neuron receives some inputs and performs operations and the whole network expresses a single
    diﬀerentiable score function.
    The system analyses the structured and unstructured data in the healthcare ﬁeld to assess the risk of
    disease. First, it uses Decision tree map algorithm to generate the pattern and causes of disease. Second,
    by using Map Reduce algorithm for partitioning the data such that a query will be analyzed only in a
    speciﬁc partition, which will increase the operational eﬃciency but reduce query retrieval time. Map
    reducing algorithm is used for partitioning the medical data based on the output of Decision Tree map
    algorithm. Compared to several typical prediction algorithms, the prediction accuracy of our proposed
    algorithm increases.
    The primary aim of this project is to analyze the “Pima Indian Diabetes Dataset” and “Cleveland
    Heart Disease Dataset” and use Logistic Regression, Support Vector Machine, Na¨ıve Bayes, K-Nearest
    Neighbors and Multi-Layer Perceptron (Neural Network) for prediction and develop a prediction engine.
    Using structured and unstructured data from hospital it uses Machine Learning Decision Tree algorithm
    and Map Reduce algorithm. To the best of our knowledge in the area of medical big data analytics none
    of the existing work focused on both data types.
    </p>
</body>