<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
 <div class="center">
<div class="wrapper" style="font-size: 10px ">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="container" style="background-color: rgba(231, 184, 206, 0.212);  height: auto; width: auto;">
            <h3 style="text-align: center;">Form</h3>
        </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-xs-3">
        <div class="form-group">
            <label for="area_mean">Area Mean</label>
            <input type="text" formControlName="area_mean" class="form-control" [ngClass]="{ 'is-invalid':f.area_mean.errors && f.area_mean.touched }" />
            <div *ngIf="f.area_mean.errors && f.area_mean.touched" class="invalid-feedback">
                <div *ngIf="f.area_mean.errors.required" style="font-size: x-small;">This field is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3 ">
        <div class="form-group">
            <label for="area_se">area_se</label>
            <input type="text" formControlName="area_se" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.area_se.errors }" />
            <div *ngIf="submitted && f.area_se.errors" class="invalid-feedback">
                <div *ngIf="f.area_se.errors.required">This field is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3">
        <div class="form-group">
            <label for="compactness_mean">compactness_mean</label>
            <input type="text" formControlName="compactness_mean" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.compactness_mean.errors }" />
            <div *ngIf="submitted && f.compactness_mean.errors" class="invalid-feedback">
                <div *ngIf="f.compactness_mean.errors.required">This field is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <label for="compactness_se">Compactness SE</label>
                <input type="text" formControlName="compactness_se" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.compactness_se.errors }" />
                <div *ngIf="submitted && f.compactness_se.errors" class="invalid-feedback">
                    <div *ngIf="f.compactness_se.errors.required">This field is required</div>
                </div>
        </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-3">
        <div class="form-group">
            <label for="compactness_worst">Compactness Worst</label>
            <input type="text" formControlName="compactness_worst" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.compactness_worst.errors }" />
            <div *ngIf="submitted && f.compactness_worst.errors" class="invalid-feedback">
                <div *ngIf="f.compactness_worst.errors.required">This field is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3 ">
        <div class="form-group">
            <label for="concave_points_mean">Concave Points Mean</label>
            <input type="text" formControlName="concave_points_mean" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.concave_points_mean.errors }" />
            <div *ngIf="submitted && f.concave_points_mean.errors" class="invalid-feedback">
                <div *ngIf="f.concave_points_mean.errors.required">This field is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3">
        <div class="form-group">
            <label for="concave_points_se">concave_points_se</label>
            <input type="text" formControlName="concave_points_se" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.concave_points_se.errors }" />
            <div *ngIf="submitted && f.concave_points_se.errors" class="invalid-feedback">
                <div *ngIf="f.concave_points_se.errors.required">This field is required</div>
            </div>
        </div>
        </div>
        
        <div class="col-xs-3">
            <div class="form-group">
                <label for="concavity_se">concavity_se</label>
                <input type="text" formControlName="concavity_se" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.concavity_se.errors }" />
                <div *ngIf="submitted && f.concavity_se.errors" class="invalid-feedback">
                    <div *ngIf="f.concavity_se.errors.required">Email is required</div>
                </div>
        </div>
        </div>

    </div>


    <div class="row">
        <div class="col-xs-3">
        <div class="form-group">
            <label for="concavity_worst">concavity_worst</label>
            <input type="text" formControlName="concavity_worst" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.concavity_worst.errors }" />
            <div *ngIf="submitted && f.concavity_worst.errors" class="invalid-feedback">
                <div *ngIf="f.concavity_worst.errors.required">Firstname is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3 ">
        <div class="form-group">
            <label for="fractal_dimension_mean">fractal_dimension_mean</label>
            <input type="text" formControlName="fractal_dimension_mean" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fractal_dimension_mean.errors }" />
            <div *ngIf="submitted && f.fractal_dimension_mean.errors" class="invalid-feedback">
                <div *ngIf="f.fractal_dimension_mean.errors.required">LastName is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3">
        <div class="form-group">
            <label for="fractal_dimension_se">fractal_dimension_se</label>
            <input type="text" formControlName="fractal_dimension_se" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fractal_dimension_se.errors }" />
            <div *ngIf="submitted && f.fractal_dimension_se.errors" class="invalid-feedback">
                <div *ngIf="f.fractal_dimension_se.errors.required">Email is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <label for="fractal_dimension_worst">fractal_dimension_worst</label>
                <input type="text" formControlName="fractal_dimension_worst" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fractal_dimension_worst.errors }" />
                <div *ngIf="submitted && f.fractal_dimension_worst.errors" class="invalid-feedback">
                    <div *ngIf="f.fractal_dimension_worst.errors.required">Email is required</div>
                </div>
        </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-3">
        <div class="form-group">
            <label for="smoothness_mean">smoothness_mean</label>
            <input type="text" formControlName="smoothness_mean" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.smoothness_mean.errors }" />
            <div *ngIf="submitted && f.smoothness_mean.errors" class="invalid-feedback">
                <div *ngIf="f.smoothness_mean.errors.required">Firstname is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3 ">
        <div class="form-group">
            <label for="smoothness_se">smoothness_se</label>
            <input type="text" formControlName="smoothness_se" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.smoothness_se.errors }" />
            <div *ngIf="submitted && f.smoothness_se.errors" class="invalid-feedback">
                <div *ngIf="f.smoothness_se.errors.required">LastName is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3">
        <div class="form-group">
            <label for="smoothness_worst">smoothness_se</label>
            <input type="text" formControlName="smoothness_se" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.smoothness_se.errors }" />
            <div *ngIf="submitted && f.smoothness_se.errors" class="invalid-feedback">
                <div *ngIf="f.smoothness_se.errors.required">Email is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <label for="symmetry_mean">symmetry_mean</label>
                <input type="text" formControlName="symmetry_mean" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.symmetry_mean.errors }" />
                <div *ngIf="submitted && f.symmetry_mean.errors" class="invalid-feedback">
                    <div *ngIf="f.symmetry_mean.errors.required">Email is required</div>
                </div>
        </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-3">
        <div class="form-group">
            <label for="symmetry_se">symmetry_mean</label>
            <input type="text" formControlName="symmetry_se" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.symmetry_se.errors }" />
            <div *ngIf="submitted && f.symmetry_se.errors" class="invalid-feedback">
                <div *ngIf="f.symmetry_se.errors.required">Firstname is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3 ">
        <div class="form-group">
            <label for="symmetry_worst">symmetry_worst</label>
            <input type="text" formControlName="symmetry_worst" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.symmetry_worst.errors }" />
            <div *ngIf="submitted && f.symmetry_worst.errors" class="invalid-feedback">
                <div *ngIf="f.symmetry_worst.errors.required">LastName is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3">
        <div class="form-group">
            <label for="texture_mean">texture_mean</label>
            <input type="text" formControlName="texture_mean" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.texture_mean.errors }" />
            <div *ngIf="submitted && f.texture_mean.errors" class="invalid-feedback">
                <div *ngIf="f.texture_mean.errors.required">Email is required</div>
            </div>
        </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <label for="texture_se">texture_se</label>
                <input type="text" formControlName="texture_se" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.texture_se.errors }" />
                <div *ngIf="submitted && f.texture_se.errors" class="invalid-feedback">
                    <div *ngIf="f.texture_se.errors.required">Email is required</div>
                </div>
        </div>
        </div>

    </div>
       

        
        <div class="form-group" style="text-align: right;">
            <button  class="btn btn-primary">
                Submit
            </button>
        </div>
    </form>   
    </div>
</div>

</body>  
